* {
padding: 0;
margin:0;
box-sizing: border-box;
}

header{
	position: relative;
	width: 100%;
	height: 30%;
}
.fondoHeader{
	position: relative;
	width: 100%;
}
#contenedorHeader{
	position: relative;
	/*background-image: url("pelota.jpg");*/
}

#titulo{
	position: absolute;
	text-align: left;
	margin-top: 0;
	z-index: 10;
	color: #fff;
}
#info-titulo{
	text-align: center;
	color: #fff;
	background: #000;
	margin-top: 0%;
	font-weight: bold;
	font-size: 25px;
}
#logo{
	position: relative;
	width: 10%;
	margin-left: 70%;
	margin-top: -10%;
}

section {
	background: #F19A48;
	border-radius: 6px;
	float: left;
	margin: 1.5%;
	width: 15%;
}

.invisible{
	display: none;
}

.navegador{
	text-align: center;
	padding: 10%;
	font-family: "Times New Roman", Times, serif;
}

aside {
	background: #BBAEA2;
	border-radius: 6px;
	float: right;
	margin: 1.5%;
	width: 79%;
	text-indent: 1%;
}
footer{
	background: #2db34a;
	clear: both;
	margin-bottom: 0;
}

table {
  border-collapse: collapse;
  margin-left: 2%;
}
th,
td {
  border: 1px solid #cecfd5;
  padding: 10px 15px;
}