<!DOCTYPE html>
<html lang="en">

<head>
    <title>Senate home page</title>
    <link rel="stylesheet" href="Styles/TGIF.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <header>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <img src="LOGOTGIF.jpg" class="logo" alt="TGIF logo">
            </div>
            <div class="col-sm-2"></div>
        </div>

        <div class="row">
            <div class="col-sm-9"></div>
            <div class="col-sm-3">
                <div>
                    <p class="derecha"><img src="mail.jpg" class="dibujito" alt="dibujitoMail">info@tgif.net</p>
                </div>

            </div>
        </div>
    </header>
    <nav>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" href="home-starter-page.html">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Congress 116</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="senate-starter-page.html">Senate</a>
                            <a class="dropdown-item" href="house-starter-page.html">House</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Attendance</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="senate-attendance-starter-page.html">Senate</a>
                            <a class="dropdown-item" href="house-attendance-starter-page.html">House</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Party Loyalty</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="senate-party-loyalty-starter-page.html">Senate</a>
                            <a class="dropdown-item" href="house-party-loyalty-starter-page.html">House</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </nav>

    <!--Table container-->
    <div class="margenTop">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h2>Senators</h2>
                <p>First convened in 1789, the composition and powers of the Senate are established in Article One of the U.S. Constitution. Each state is represented by two senators, regardless of population, who serve staggered six-year terms. The Senate
                    has several exclusive powers not granted to the House, including consenting to treaties as a precondition to their ratification and consenting to or confirming appointments of Cabinet secretaries, federal judges, other federal executive
                    officials, military officers, regulatory officials, ambassadors, and other federal uniformed officers, as well as trial of federal officials impeached by the House.</p>
                    <div class="container" id="app"> <!-- Agrego para usar VUE -->
                        <table class="table">
                        <thead>
                            <th>Full name</th>
                            <th>Party</th>
                            <th>State</th>
                            <th>Seniority</th>
                            <th>% of votes with party</th>
                        </thead>
                        <tbody> <!-- aca le saque el id="table‐rows" para renderizar la tabla -->
                            <tr v-for="value in senators">
                                <td>{{value.first_name}} {{value.middle_name}} {{value.last_name}}</td> 
                                <td>{{value.party}}</td>
                                <td>{{value.state}}</td>
                                <td>{{value.seniority}}</td>
                                <td>{{value.votes_with_party_pct}}</td>
                            </tr>
                        </tbody>
                        </table>
                </div>
                </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
    <footer>
        <p class="centro">© 2019 TGIF | All Rights Reserved</p>
    </footer>
    <!-- <script src="pro-congress-116-senate.js"></script>   LO SACO PARA USAR EL FETCH-->

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="currencyVue.js"></script>

    <!-- <script src="loaderSenate.js"></script> LO SACO PARA USAR VUE -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>